<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>

  <div id="app">
    <div class="panel" style="background-color: #4682b4; padding: 10px; margin-bottom: 20px;">
      <button @click="sortByDate()">
        <img src="img/arrow.png" alt="Arrow" width="20" style="vertical-align: middle;"
          :style="{ transform: 'rotate(' + rotation_date + 'deg)' }">
        Дата
      </button>
      <div class="dropdown">
        <button class="dropbtn">Выберите чат</button>
        <div class="dropdown-content">
          <a v-for="chat in chats" @click="selectChat(chat)">{{ chat }}
            <img v-if="selected_chats.includes(chat)" src="img/checkmark.png" alt="Checkmark" width="20">
          </a>
        </div>
      </div>
    </div>

    <div v-for="item in data" class="posts">
      <p>{{ item.username }}</p>
      <p>{{ item.date }}</p>
      <p>{{ item.text }}</p>
      <p>Чат: {{ item.chatname }}</p>
      <button @click="select_post(item.id)">Ответить</button>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          rotation_date: 0,
          selected_chats: [],
          chats: [],
          data: [],
          desc_option: 'false'
        };
      },
      mounted() {
        this.get_chats()
        this.sortByDate()
      },
      methods: {
        request_get(method, args = ['']) {
          return new Promise((resolve, reject) => {
            const options = args.join('&');
            const xhr = new XMLHttpRequest();
            const url = 'http://127.0.0.1:8000/' + method + '?' + options;
            console.log(url)
            xhr.open('GET', url, true);
            xhr.onreadystatechange = () => {
              if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                  const responseData = JSON.parse(xhr.responseText);
                  resolve(responseData);
                } else {
                  reject('Request failed with status: ' + xhr.status);
                }
              }
            };
            xhr.send();
          });
        },
        fetchData(chats = this.chats, desc_option = this.desc_option) {
          if (chats.length > 0) {
            chats_param = `chat_id=${chats.join('&chat_id=')}`
          } else { chats_param = '' }
          this.request_get('get_messages', [`des=${desc_option}`, chats_param])
            .then(data => {
              this.data = data;
            })
        },
        get_chats() {
          this.request_get('get_chats')
            .then(data => {
              this.chats = data;
            });
        },
        sortByDate() {
          if (this.desc_option == 'true') {
            this.desc_option = 'false'
            this.rotation_date = 180
          } else {
            this.desc_option = 'true'
            this.rotation_date = 0
          }
          this.fetchData(this.selected_chats, this.desc_option);
        },
        selectChat(chat) {
          if (!this.selected_chats.includes(chat)) {
            this.selected_chats.push(chat);
          } else {
            this.selected_chats = this.selected_chats.filter(selectedChat => selectedChat !== chat);
          }
          this.fetchData(this.selected_chats, this.desc_option);
        },
        select_post(post_id) {
          window.location.href = `post.html?post_id=${post_id}`;
        }
      }
    });
  </script>

</body>

</html>