body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#app {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  color: #4682b4;
}


.panel button {
  background-color: #fff;
  border: 2px solid #4682b4;
  border-radius: 18px;
  color: #4682b4;
  padding: 8px 16px;
  border-color: #fff;
  margin: 5px;
  cursor: pointer;
  font-size: 12pt;
}

.panel p {
  color: white
}

.panel button:hover {
  background-color: #4682b4;
  color: #fff;
}