.users {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.users p {
    margin: 0;
    padding: 5px 0;
}

.users button {
    background-color: #fff;
    border: 2px solid #e7aa01;
    border-radius: 18px;
    color: #474747;
    padding: 8px 16px;
    border-color: #e76101;
    margin: 5px;
    cursor: pointer;
    font-size: 12pt;
}

.users button:hover {
    background-color: #e76101;
    color: #fff;
}